.form{
	border :2px solid #000000;
	padding-top: 50px;
	margin-top: 30px;
	padding-bottom: 50px;
	background-color: 	#242D33;
	position: absolute;
	width: 870px;
	z-index: -1;
}


.fields{
	margin: 20px;
	font-size: 15px;
	color: white;
}

.inputc{
	width: 300px;
	height: 40px;
}

.formtable{
	border: none;
}

.checkboxc{
	margin-left: 20px;
	margin-top: 20px;
	transform: scale(2.5);
}


.validate_button{
	margin-top: 620px;
	margin-left: 10px;
	position: absolute;
	z-index: 200;
}

/*.iframec{
	margin-top: 720px;
	margin-left: 10px;
	position: absolute;
	z-index: 201;
}*/

.submit_button{
	position: absolute;
	z-index: 201;
}